@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-texto: #ffffff;
    --cor-fundo: #111111;
    --cor-fundo-produtos: #29272a;
    --cor-hover: #834de8;
    --cor-primaria: #6528d3;
    --cor-informacoes: #ededed;
    --cor-info-footer: #bca2ed;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-fundo);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}